@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6rem;
}

ul {
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2rem;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    color: #fff;
    opacity: 0.8;
    height: 70px;
    width: 100%;
    position: fixed;
    /* top: 0px;
    padding: 0 30px; */
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: #fff;
    padding: 24px 20px;
}

.navbar a:hover {
    color: #28a745
}

.navbar .logo {
    padding: 19px 20px;
    font-weight: 400;
}